# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# =========================
# Node
# =========================
node_modules/
.vite/
dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temporary folders
# =========================
frontend-temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db